@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-eggplant: #1B0625;
  --color-brown: #26130F;
  --color-mango: #FFB33F;
  --color-pink: #FF3F83;
  --color-mint: #4DF2C2;
  --color-cream: #FFF5E6;
  --color-cyan: #46C5FF;
  --color-pistachio: #9BFF72;

  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

:root {
  --background: var(--color-eggplant);
  --foreground: var(--color-cream);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-eggplant);
}

::-webkit-scrollbar-thumb {
  background: var(--color-mango);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-pink);
}